.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}



.main {
  background-color: #282c34;
  min-height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 1.5vmin);
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}



h1 {
  margin: 5vmin 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}

h4{
  margin: 4vmin 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}

h3{
  margin: 4vmin 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}

h2{
  margin: 4vmin 0;
}

p{
  margin: 2vmin 0 ;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}


