body {
  margin: 0;
  font-family: 'Alef', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: auto;

}




html {
  overflow: hidden;
  height: 100%;
}


#root {
  height: 100%;
}